In [1]:
#standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import seaborn as sns
import warnings
warnings.filterwarnings ('ignore')

In [2]:
data=pd.read_csv("water_potability.csv")
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [5]:
print(data.isnull().sum())

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [6]:
data = data.dropna()
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Conductivity     2011 non-null   float64
 6   Organic_carbon   2011 non-null   float64
 7   Trihalomethanes  2011 non-null   float64
 8   Turbidity        2011 non-null   float64
 9   Potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

In [8]:
#create x (all the feature columns)
x=data.drop ("Potability" ,axis=1)

#create y (the target column)
y=data["Potability"]

In [9]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [10]:
#check if balanced dataset
y.value_counts()

0    1200
1     811
Name: Potability, dtype: int64

In [11]:
#split data into training and test sets
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2 , random_state=100, stratify=y)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1608, 9), (403, 9), (1608,), (403,))

In [12]:
y_test.value_counts()

0    240
1    163
Name: Potability, dtype: int64

In [13]:
x_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
2986,3.832917,218.723840,23535.028901,6.475402,352.505898,421.183478,19.273561,58.903698,4.768660
714,5.842755,202.044775,13969.261562,6.643918,290.795955,475.142956,18.189839,77.931104,4.490393
1325,6.901710,173.153915,10323.957841,7.436808,376.811708,538.620787,10.401973,36.751898,3.035671
822,4.594209,185.632858,27981.091190,6.761683,354.785217,380.723252,13.983833,74.576914,4.917910
508,9.418296,173.640216,8777.686784,8.456178,358.292064,596.825837,16.785215,105.272456,4.604633

In [14]:
#we will use a Random Forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [15]:
#we'll hyperparameters as default first
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [16]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [18]:
# In order to predict a label, data has to be in the same shape as X_train
x_test.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3053,7.287286,219.695123,18085.502818,6.010569,277.329713,406.564794,16.136766,53.677449,3.504265
402,5.767350,272.472178,15417.932834,7.728860,315.404917,424.461152,15.284268,60.822135,3.896090
1943,8.185923,240.979104,23641.472028,6.611449,318.689010,410.158222,13.109911,56.913981,3.566945
801,8.900865,211.306812,9592.151333,8.863272,348.437820,333.775327,18.267951,68.333170,4.518751
964,8.408766,210.795406,27662.397101,6.634210,291.687653,555.580978,12.344834,67.061824,2.372791

In [19]:
y_preds = clf.predict(x_test)
print(y_preds)

[1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 1 1
 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 0 0 1
 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0
 0 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0
 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0]

In [20]:
# Evaluate the model on the training set
clf.score(x_train, y_train)

1.0

In [22]:
# Evaluate the model on the test set
clf.score(x_test, y_test)

0.6625310173697271

In [23]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.66      0.88      0.76       240
           1       0.66      0.35      0.46       163

    accuracy                           0.66       403
   macro avg       0.66      0.61      0.61       403
weighted avg       0.66      0.66      0.63       403

In [24]:
conf_mat = confusion_matrix(y_test, y_preds)
conf_mat

array([[210,  30],
       [106,  57]], dtype=int64)

In [25]:
np.random.seed(42)
highest_score = 0
best_est = 0
for i in range(10, 201, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    score = model.score(x_test, y_test) * 100
    if score > highest_score:
        highest_score = score
        best_est = i
    print(f"Model accuracy on test set: { score}%")
    print("")
    
print(f"High Score: {highest_score}, Estimators: {best_est}")

Trying model with 10 estimators...
Model accuracy on test set: 64.51612903225806%

Trying model with 20 estimators...
Model accuracy on test set: 66.50124069478908%

Trying model with 30 estimators...
Model accuracy on test set: 64.01985111662532%

Trying model with 40 estimators...
Model accuracy on test set: 64.26799007444168%

Trying model with 50 estimators...
Model accuracy on test set: 66.99751861042184%

Trying model with 60 estimators...
Model accuracy on test set: 67.4937965260546%

Trying model with 70 estimators...
Model accuracy on test set: 67.74193548387096%

Trying model with 80 estimators...
Model accuracy on test set: 67.4937965260546%

Trying model with 90 estimators...
Model accuracy on test set: 66.99751861042184%

Trying model with 100 estimators...
Model accuracy on test set: 67.4937965260546%

Trying model with 110 estimators...
Model accuracy on test set: 67.99007444168734%

Trying model with 120 estimators...
Model accuracy on test set: 67.24565756823822%

Trying model with 130 estimators...
Model accuracy on test set: 69.72704714640199%

Trying model with 140 estimators...
Model accuracy on test set: 69.23076923076923%

Trying model with 150 estimators...
Model accuracy on test set: 66.25310173697271%

Trying model with 160 estimators...
Model accuracy on test set: 68.4863523573201%

Trying model with 170 estimators...
Model accuracy on test set: 67.4937965260546%

Trying model with 180 estimators...
Model accuracy on test set: 67.24565756823822%

Trying model with 190 estimators...
Model accuracy on test set: 67.99007444168734%

Trying model with 200 estimators...
Model accuracy on test set: 68.73449131513648%

High Score: 69.72704714640199, Estimators: 130

In [26]:
from sklearn.model_selection import cross_val_score

# With cross-validation
np.random.seed(42)
for i in range(10, 151, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {model.score(x_test, y_test) * 100}%")
    print(f"Cross-validation score: {np.mean(cross_val_score(model, x, y, cv=5)) * 100}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 64.51612903225806%
Cross-validation score: 59.871856597903786%

Trying model with 20 estimators...
Model accuracy on test set: 65.50868486352357%
Cross-validation score: 63.00556769502364%

Trying model with 30 estimators...
Model accuracy on test set: 65.50868486352357%
Cross-validation score: 61.91165759292866%

Trying model with 40 estimators...
Model accuracy on test set: 66.99751861042184%
Cross-validation score: 63.303704801056746%

Trying model with 50 estimators...
Model accuracy on test set: 67.74193548387096%
Cross-validation score: 63.50258632396331%

Trying model with 60 estimators...
Model accuracy on test set: 67.24565756823822%
Cross-validation score: 63.60344678592151%

Trying model with 70 estimators...
Model accuracy on test set: 67.24565756823822%
Cross-validation score: 64.74562670518375%

Trying model with 80 estimators...
Model accuracy on test set: 66.74937965260546%
Cross-validation score: 64.34983889485575%

Trying model with 90 estimators...
Model accuracy on test set: 66.99751861042184%
Cross-validation score: 63.70146784686986%

Trying model with 100 estimators...
Model accuracy on test set: 68.23821339950372%
Cross-validation score: 65.19351135143143%

Trying model with 110 estimators...
Model accuracy on test set: 67.99007444168734%
Cross-validation score: 64.39847906867648%

Trying model with 120 estimators...
Model accuracy on test set: 67.74193548387096%
Cross-validation score: 64.5479797044554%

Trying model with 130 estimators...
Model accuracy on test set: 69.23076923076923%
Cross-validation score: 65.19388170808489%

Trying model with 140 estimators...
Model accuracy on test set: 69.23076923076923%
Cross-validation score: 64.14947594533535%

Trying model with 150 estimators...
Model accuracy on test set: 68.73449131513648%
Cross-validation score: 65.09474957717616%

In [27]:
np.random.seed(42)
from sklearn.model_selection import GridSearchCV

# Define the parameters to search over
param_grid = {'n_estimators': [i for i in range(10, 101, 10)], 'max_depth': [0,5,10]}

# Setup the grid search
grid = GridSearchCV(RandomForestClassifier(),
                    param_grid,
                    cv=5,
                    scoring='recall'
                   )

# Fit the grid search to the data
grid.fit(x, y)

# Find the best parameters
grid.best_params_

{'max_depth': 10, 'n_estimators': 60}

In [28]:
# Set the model to be the best estimator
clf = grid.best_estimator_
clf

RandomForestClassifier(max_depth=10, n_estimators=60)

In [30]:
# Fit the best model
clf = clf.fit(x_train, y_train)

In [31]:
# Find the best model scores
clf.score(x_test, y_test)

0.6823821339950372

In [32]:
import pickle

# Save an existing model to file
pickle.dump(model, open("myModel.pkl", "wb"))

In [33]:
# Load a saved model and make a prediction
loaded_model = pickle.load(open("myModel.pkl", "rb"))
y_test_pred = loaded_model.predict(x_test)
y_test_pred

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [34]:
import joblib
filename='model_2'
joblib.dump(model, filename)

['model_2']

In [35]:
mymodel = joblib.load(filename)

In [36]:
mymodel.score(x_test, y_test)

0.6873449131513648